.testContainer{
    display: flex;
    flex-direction: column;
}

.contentContainer{
    display: flex;
    gap: 3vw;
}

.container{
    padding: 1vh 1vw;
    background-color: #1a1a1a;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    max-height: 50vh;
    margin: 10% auto;
    overflow: auto;
    border-radius: 30px;
}