.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
}

.button{
    flex-grow: 1;
    width: 20vw;
    white-space:nowrap;
}

@media screen and (max-width: 500px) {
    .button {
        width: 100vw;
    }

}