.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5vh 3vw;
    gap: 1vw;
    border-radius: 50px;
    border: 3px solid white;
    cursor: pointer;
    flex-wrap: nowrap;
    /*text-wrap: nowrap;*/
    }

.textContainer{
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

.textContainerNeuro{
    display: flex;
    flex-direction: column;
    color: gray;
    overflow: hidden;
}

.textContainer > h2{
    font-size: 2vh;
}

.textContainer > p{
    font-size: 1.5vh;
}

.subtitle{
    color: gray;
}

.active{
    border: 3px solid #004f4e;
}


@media screen and (max-width: 500px){
    .container{
        padding: 0.5vh 2vw;
    }
}

/**/


:root {
    --duration: 9s;
    --duration-double: 10s;
}




.firstSlide {
    display: inline-block;
    animation-name: slide-then-hide;
    animation-delay: 3s;
    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: backwards;
}


@keyframes slide-then-hide {
    0% {
        transform: translate(0, 0);
    }
    100% {
        display: none;
        transform: translate(-100%, 0);
    }
}

@keyframes slide {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
